[submodule "src/ROSPlan"]
	path = src/ROSPlan
	url = https://gitee.com/yuanzhouxue/ROSPlan.git
[submodule "src/tiago_dependencies"]
	path = src/tiago_dependencies
	url = https://gitee.com/yuanzhouxue/tiago.git
[submodule "src/turtlebot3_dependencies/turtlebot3_msgs"]
	path = src/turtlebot3_dependencies/turtlebot3_msgs
	url = https://gitee.com/yuanzhouxue/turtlebot3_msgs.git
[submodule "src/turtlebot3_dependencies/turtlebot3"]
	path = src/turtlebot3_dependencies/turtlebot3
	url = https://gitee.com/yuanzhouxue/turtlebot3.git
