<?xml version="1.0"?>
<launch>

    <!-- ROSPlan -->
    <include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch">
        <arg name="domain_path" value="$(find test)/pddls/domain_turtlebot_demo.pddl" />
        <arg name="problem_path" value="$(find test)/pddls/turtlebot_problem.pddl" />
    </include>

    <!-- sim actions -->
    <!-- <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="undock" />
    </include>
    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="dock" />
    </include>
    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="localise" />
    </include> -->
    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch">
        <arg name="pddl_action_name" value="goto_waypoint" />
        <arg name="action_duration" value="1"/>
    </include>
</launch>