<?xml version="1.0" encoding="UTF-8"?>


<launch>
    <arg name="sensor_dispatch_topic" default="/rosplane_sensor_interface/sensor_dispatch"/>
    <arg name="sensor_feedback_topic" default="/rosplane_sensor_interface/sensor_feedback"/>

    <arg name="action_dispatch_topic" default="/rosplan_plan_dispatcher/action_dispatch"/>
    <arg name="action_feedback_topic" default="/rosplan_plan_dispatcher/action_feedback"/>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <include file="$(find rosplane)/launch/rosplane_interfaced_planning_system.launch">
    </include>

    
    <node name="dummy_sensor_inhand" type="dummysensor_node" pkg="test" output="screen">
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pred_name" value="inhand" />
        <param name="sensor_dispatch_topic" value="$(arg sensor_dispatch_topic)" />
        <param name="sensor_feedback_topic" value="$(arg sensor_feedback_topic)" />
    </node>

    <node name="dummy_sensor_on_desk" type="dummysensor_node" pkg="test" output="screen">
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pred_name" value="on_desk" />
        <param name="sensor_dispatch_topic" value="$(arg sensor_dispatch_topic)" />
        <param name="sensor_feedback_topic" value="$(arg sensor_feedback_topic)" />
    </node>

    <node name="dummy_sensor_not_inhand" type="dummysensor_node" pkg="test" output="screen">
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pred_name" value="not_inhand" />
        <param name="sensor_dispatch_topic" value="$(arg sensor_dispatch_topic)" />
        <param name="sensor_feedback_topic" value="$(arg sensor_feedback_topic)" />
    </node>
    <node name="dummy_sensor_observe" type="dummysensor_node" pkg="test" output="screen">
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pred_name" value="observe" />
        <param name="sensor_dispatch_topic" value="$(arg sensor_dispatch_topic)" />
        <param name="sensor_feedback_topic" value="$(arg sensor_feedback_topic)" />
    </node>
    <node name="dummy_sensor_finish_observe" type="dummysensor_node" pkg="test" output="screen">
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pred_name" value="finish_observe" />
        <param name="sensor_dispatch_topic" value="$(arg sensor_dispatch_topic)" />
        <param name="sensor_feedback_topic" value="$(arg sensor_feedback_topic)" />
    </node>


    <node name="dummy_action_grasp" type="dummyaction_node" pkg="test" output="screen" >
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pddl_action_name" value="grasp" />
        <param name="action_dispatch_topic" value="$(arg action_dispatch_topic)" />
        <param name="action_feedback_topic" value="$(arg action_feedback_topic)" />
    </node>

    <node name="dummy_action_observing" type="dummyaction_node" pkg="test" output="screen" >
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pddl_action_name" value="observing" />
        <param name="action_dispatch_topic" value="$(arg action_dispatch_topic)" />
        <param name="action_feedback_topic" value="$(arg action_feedback_topic)" />
    </node>

    <node name="dummy_action_thien_action" type="dummyaction_node" pkg="test" output="screen" >
        <param name="knowledge_base" value="rosplan_knowledge_base" />
        <param name="pddl_action_name" value="then_action" />
        <param name="action_dispatch_topic" value="$(arg action_dispatch_topic)" />
        <param name="action_feedback_topic" value="$(arg action_feedback_topic)" />
    </node>

</launch>